In [1]:
#pip install -U jupyter

In [2]:
#!jupyter nbextension enable --py --sys-prefix widgetsnbextension

In [3]:
#pip install gmaps

In [4]:
#!jupyter nbextension enable --py --sys-prefix gmaps

In [5]:
#!jupyter nbextension enable --py gmaps

In [6]:
#!jupyter nbextension enable --py widgetsnbextension

In [7]:
#Import the dependencies 
import pandas as pd
import gmaps
import gmaps.figure
import requests
#Import the API key
from config import g_key

In [8]:
#Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv("./weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2022-10-30 01:01:52,-46.1927,168.8643,67.48,48,34,10.49
1,1,Caxito,AO,2022-10-30 01:01:52,-8.5785,13.6643,76.77,88,87,2.73
2,2,Luquillo,PR,2022-10-30 01:01:53,18.3725,-65.7166,81.00,85,100,10.25
3,3,Hualmay,PE,2022-10-30 01:01:53,-11.0964,-77.6139,62.10,81,4,9.28
4,4,Copiapo,CL,2022-10-30 01:01:54,-27.3667,-70.3333,53.29,59,0,1.92

In [9]:
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 564 entries, 0 to 563
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     564 non-null    int64
 1   City        564 non-null    object
 2   Country     559 non-null    object
 3   Date        564 non-null    object
 4   Lat         564 non-null    float64
 5   Lng         564 non-null    float64
 6   Max Temp    564 non-null    float64
 7   Humidity    564 non-null    int64
 8   Cloudiness  564 non-null    int64
 9   Wind Speed  564 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 44.2+ KB

In [10]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

## Create a Maximum Temperature Heatmap

In [11]:
# configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [12]:
#1.Assign the locations to an array of latitude and longitude pairs
#locations = [latitude, longitude]

#2.Assign the weights variable to some values
#temperatures =# an array of length equal to the locations arrays length 

#3.Assign the figure variable to the gmaps.figure() attribute
#fig = gmaps.figure()

#4.Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

#5.Add the heatmap layer
#fig.add_layer(heatmap_layer)

#6.Call the figure to plot the data
#fig

In [13]:
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
#    temps.append(max(temp, 0))
# temps = [max(temp, 0) for temp in max_temp]

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig =gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
                                dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
#Call the figure to plot the data 
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
#Heatmap of Wind speed
locations =city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
#Call the figure to plot the data 
fig

Figure(layout=FigureLayout(height='420px'))

## Get vacation criteria

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Caxito,AO,2022-10-30 01:01:52,-8.5785,13.6643,76.77,88,87,2.73
2,2,Luquillo,PR,2022-10-30 01:01:53,18.3725,-65.7166,81.00,85,100,10.25
8,8,Butaritari,KI,2022-10-30 01:01:56,3.0707,172.7902,81.41,67,94,13.42
13,13,Alofi,NU,2022-10-30 01:01:59,-19.0595,-169.9187,76.95,80,76,19.91
16,16,Lorengau,PG,2022-10-30 01:02:00,-2.0226,147.2712,85.69,65,100,7.31
19,19,Avarua,CK,2022-10-30 01:02:02,-21.2078,-159.7750,77.05,69,20,19.57
23,23,Topolobampo,MX,2022-10-30 01:02:05,25.6000,-109.0500,76.59,56,42,13.85
27,27,Salina Cruz,MX,2022-10-30 01:02:07,16.1667,-95.2000,81.19,72,9,17.07
41,41,Ishigaki,JP,2022-10-30 01:02:14,24.3448,124.1572,79.23,79,100,26.91
43,43,Touros,BR,2022-10-30 01:02:15,-5.1989,-35.4608,78.37,77,20,15.05

In [20]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [21]:
preferred_cities_df.count()

City_ID       141
City          141
Country       141
Date          141
Lat           141
Lng           141
Max Temp      141
Humidity      141
Cloudiness    141
Wind Speed    141
dtype: int64

## Map vacation criteria

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
1        Caxito      AO     76.77  -8.5785   13.6643
2      Luquillo      PR     81.00  18.3725  -65.7166
8    Butaritari      KI     81.41   3.0707  172.7902
13        Alofi      NU     76.95 -19.0595 -169.9187
16     Lorengau      PG     85.69  -2.0226  147.2712
19       Avarua      CK     77.05 -21.2078 -159.7750
23  Topolobampo      MX     76.59  25.6000 -109.0500
27  Salina Cruz      MX     81.19  16.1667  -95.2000
41     Ishigaki      JP     79.23  24.3448  124.1572
43       Touros      BR     78.37  -5.1989  -35.4608

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius" : 5000,
    "type"   : "lodging",
    "key"    : g_key
}

In [24]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    #Add the latitude and longitude key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    "Use the search term: lodging and our latitude and longitude"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
     # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
#If you encounter more errors, add them to the except block—like so, (IndexError, NewError)
# and continue running your code until there are no errors.

In [29]:
hotel_df.head(30)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Caxito,AO,76.77,-8.5785,13.6643,
2,Luquillo,PR,81.00,18.3725,-65.7166,Yunque Mar Beach Hotel
8,Butaritari,KI,81.41,3.0707,172.7902,Isles Sunset Lodge
13,Alofi,NU,76.95,-19.0595,-169.9187,Taloa Heights
16,Lorengau,PG,85.69,-2.0226,147.2712,Lorengau Harbourside Hotel
19,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
23,Topolobampo,MX,76.59,25.6000,-109.0500,Hotel Marina Topolobampo
27,Salina Cruz,MX,81.19,16.1667,-95.2000,Amerik HOTEL
41,Ishigaki,JP,79.23,24.3448,124.1572,Hotel Peace Land Ishigakijima
43,Touros,BR,78.37,-5.1989,-35.4608,INN NEW HORIZON
48,Coahuayana,MX,77.04,18.7333,-103.6833,El rranchito michuacan de ocampos
56,Banda Aceh,ID,78.93,5.5577,95.3222,OYO 884 Rumoh PMI Hotel
62,Kavieng,PG,84.79,-2.5744,150.7967,Nusa Island Retreat
66,Victoria,HK,76.24,22.2855,114.1577,Mini Central
68,Yulara,AU,85.93,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
72,Vaini,TO,76.21,-21.2000,-175.2000,Keleti Beach Resort
76,Bakel,SN,82.69,14.9050,-12.4568,Ablaye Diallo Bakel
80,Bani,DO,75.85,18.2833,-70.3333,Hospedaje Henriquez
81,Tucuman,AR,83.80,-26.8241,-65.2226,Hotel Premier
89,Atuona,PF,77.49,-9.8000,-139.0333,Villa Enata
92,Auki,SB,83.10,-8.7676,160.7034,Auki Motel
102,Bengkulu,ID,76.44,-3.8004,102.2655,Grage Hotel Bengkulu
103,Ixtapa,MX,79.83,20.7000,-105.2000,hotel la terminal
111,Omboue,GA,76.12,-1.5746,9.2618,Hotel Olako
114,Sao Filipe,CV,80.20,14.8961,-24.4956,Hotel Xaguate
115,Beira,MZ,75.83,-19.8436,34.8389,Beira Terrace Hotel
116,Atar,MR,78.85,20.5169,-13.0499,Oumou Elghoura
117,Teahupoo,PF,76.96,-17.8333,-149.2667,Vanira Lodge
123,Emerald,AU,85.33,-23.5333,148.1667,Emerald Inn
125,Kapaa,US,84.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

## Pop-up markers with info

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [31]:
#Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [32]:
#Add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))